
header {
     
     background-image: linear-gradient(to right, #4dd2d2, #092331);
}

body {
     background-color: #dddddd;
     font-family: 'Open Sans',
     sans-serif;
}

.logotipo {
     display: block;
     width: 10%;
     height: 0;
     margin-left: 10%;
     padding-top: 15px !important;
     
}

.header {          
     width: 100%;
     height: 80px; 
}

.navbar {
     display: flex;
     margin-left:850px;  
}

nav {
     margin-left: 2%;
}

.menu {
     display: inline-block;
     color: white;
     font-weight:500;
     margin-top: 15px;
     margin-left: 12%;
     
}


