/* Variavel Color */ 

$colorGrandient1 : #4dd2d2;
$colorGrandent2 : #092331;
$backgroundGlobal : #dddddd;
$backgroundModulo : #ffffff;
$shadowBlock : 0 5px 15px rgba(0, 0, 0, 0.3);
$boxProfile :  white;
$boxProfileShadow : 0 5px 15px rgba(0, 0, 0, 0.3);
$buttonColor :  #e61313;

/* Variáveis Profile dos profissionais */ 

$boxDisplay : grid;
$boxMarginLeft :  -185% ;
$boxWidth : 435%;
$boxWidthRespo : 250px;
$boxHeght : 135px;
$dadosMargin : 28% 0 0 100%;
$dadosMarginTop : 15%;
$dadosMarginLeft : 50%;
$dadosFonSize :  1.3em;
$avatarWidth : 100px;
$avatarHeigth : 100px;
$avatarMarginLeft : -305%;
$avatarMarginTop : -150%;
$avatarMarginBottom : 35%;
$avatarBorderRadius : 50px;

body {
     background-color: $backgroundGlobal; 
     font-family: 'Open Sans',
     sans-serif;
}

header {background-image: linear-gradient(to right, $colorGrandient1, $colorGrandent2);}
.header {
     width: 100%;
     height: 80px;
}
.logotipo {
     display: block;
     width: 10%;
     height: 0;
     margin-left: 10%;
     padding-top: 15px !important;
}
.navbar {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-left: 850px;
}


nav {margin-left: 2%;}

.menu {
     display: inline-block;
     color: white;
     font-weight: 500;
     margin-top: 15px;
     margin-left: 10%;
}

.profile {
     display: grid;     
     grid-column-gap: 30px;
     grid-row-gap: 15px;
}


.profile-select {
     display: flex;
     width: 78%;
     background-color: $boxProfile;
     box-shadow: $boxProfileShadow;
     margin: 2% 10% 0;
     height: 150px;
}

.dados {margin: 2.5% 0% 10% 15%;}
.item {margin-top: 5%;}
.descricao1 {margin-left: 10%;}
.descricao2 {margin-left: 5%;}
.descricao3 {margin-left: 10%;}

.avatar {
     width: 100px;
     margin-left: 12%;
     margin-top: -60%;
     margin-bottom: 3%;
}

.profile1  {
     display: flex;
     justify-content: space-evenly;
}

.profile2 {
     display: flex;
     justify-content: space-evenly;
     margin-top: 100px; 
}

.flex-contanier,  .flex-cont {
     display: $boxDisplay;
     grid-template-columns: auto auto auto;
     grid-column-gap: 10px;  
     grid-row-gap: 20px;   
     background-color: $backgroundModulo;
     box-shadow: $shadowBlock;
     margin-left: $boxMarginLeft;     
     width: $boxWidth;
     height: $boxHeght;
}



.dados1, .dados2, .dados3 {
     margin: $dadosMargin;
     font-size: $dadosFonSize;
     
     }

.avatar1, .avatar2, .avatar3 {
     width: $avatarWidth;
     height: $avatarHeigth;
     margin-left: $avatarMarginLeft;
     margin-top: $avatarMarginTop;
     margin-bottom: $avatarMarginBottom;
     
}

.busca01, .busca02, .busca03, .busca04, .busca05, .busca06, .busca07, .busca08, .busca09 {
     width: 80px;
     height: 50px;
     background-color: none;     
     cursor: pointer;
     z-index: 10; 
}

@media (max-width: 540px) {
     .header {
          width: 200%;
          height: 80px;
     }

     .logotipo {
          display: block;
          width: 125px;
          height: 0;
          margin-left: 5%;
          padding-top: 15px !important;
     }

     nav {
          margin-left: -50%;
     }

     .menu {
          display: inline-block;
          color: white;
          font-weight: 500;
          margin-top: 15px;
          margin-left: 2%;
     }

     .cont-respo,
     .cont-respo2 {
          display: $boxDisplay;
          grid-template-columns: auto auto;
          grid-column-gap: 10px;
          grid-row-gap: auto;
          background-color: $backgroundModulo;
          box-shadow: $shadowBlock;
          margin-left: $boxMarginLeft;
          width: $boxWidthRespo;
          height: $boxHeght;
     }

  




}



























